.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Navbar */
.navbar {
  background: #007bff;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar button {
  background: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.navbar button.active {
  background: #0056b3;
  color: white;
  border-radius: 5px;
}

.navbar button:hover {
  background: #0056b3;
  color: white;
}
